mixin tab-pane(id, active)
  .tab-pane(id=id, class=active ? ['active'] : [])
    block

mixin panel(title, id, modalTitle, modalBody)
  - modalId = 'modal-' + id;
  .panel.panel-default
    .panel-heading
      h3.panel-title
        != title
        span(style="margin-left: 10px; font-size:15px; vertical-align:middle;")
          i.icon.icon-question-sign(data-toggle="modal" data-target="#"+modalId)
        .modal.fade(id=modalId tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;")
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") ×
                h4.modal-title#myModalLabel= modalTitle
              .modal-body
                != modalBody
              .modal-footer
                button.btn.btn-default(type="button" data-dismiss="modal") Close
    .panel-body(id=id)
      block

mixin labelledRadio(name, suffix, label)
  label(for!=name + suffix)= label
  input(id!=name + suffix, type='radio', name!=name)

mixin bool(id)
  .form-group.scaled
    button.btn.btn-xs.btn-danger.pull-right(id=id + '-clear' data-toggle="tooltip" data-placement="bottom" title="Clear the filter")
      i.icon.icon-trash!= " <%= trans('reporting.clear') %>"
    b!= "<%= trans('reporting.booleans." + id + "') %>"
    form
      +labelledRadio(id, '-true', 'True')
      +labelledRadio(id, '-false', 'False')

mixin scaled(id)
  .form-group.scaled
    != "<%= trans('reporting.scales." + id + "') %>"
    .pull-right
      input(type="number" placeholder="0" data-toggle="tooltip" data-placement="bottom" title="Enter the start of the range" id=id + "-min" style="width:50px;" value!="<%= (query['statement.result.score." + id + "'] && query['statement.result.score." + id + "'][1]) || null %>")
      span!= " <%= trans('reporting.to') %>"
      input(type="number" placeholder="1" data-toggle="tooltip" data-placement="bottom" title="Enter the end of the range" id=id + "-max" style="width:50px;" value!="<%= (query['statement.result.score." + id + "'] && query['statement.result.score." + id + "'][2]) || null %>")
      button.btn.btn-xs.btn-danger.pull-right(id=id + '-clear' data-toggle="tooltip" data-placement="bottom" title="Clear the range")
        i.icon.icon-trash!= " <%= trans('reporting.clear') %>"

- var help = function (type, example, requirement) {
-   var plural = type[type.length - 1] === 'y' ? type.slice(0, -1) + 'ies' : type + 's';
-   return '<p>To add an ' + type + ' click the (green) “Add ' + type + '” button (below the list you’d like to add to - which may be empty at this point). This will add a new entry to the list, you can then type the ' + requirement + ' (i.e. ' + example + ') you’re searching for in the text box.</p><p>To remove an ' + type + ' click the (red) minus icon next to the ' + type + '. Then select “OK” in the message that pops up.</p><p>If you don\'t want to filter any ' + plural + ' out, remove all of the ' + plural + '.</p>';
- }

.row
  .tab-content.reporting
    +tab-pane('actor', true)
      +panel("<%= trans('reporting.headings.learners') %>", 'actors', 'How do I filter by actors?', '<p>To add an actor click the (green) “Add Actor” button (below the list of actors - which may be empty at this point). This will add a new entry to the list of actors, you can then type the name ("Bob") of the actor you’re searchng for in the text box. If the actor’s name doesn’t appear as you type it you probably misspelled their name or they haven’t done anything according to your LRS. Currently the report will filter by the email ("bob@example.com") associated with the actor you’ve selected.</p><p>To remove an actor click the (red) minus icon next to the actor. Then select “OK” in the message that pops up.</p><p>If you don\'t want to filter any actors out, remove all of the actors.</p>')
    +tab-pane('verb')
      +panel("<%= trans('reporting.headings.verbs') %>", 'verbs', 'How do I filter by verbs?', help('verb', '\"completed\"', 'verb\'s name'))
    +tab-pane('activity')
      .col-md-6: +panel("<%= trans('reporting.headings.activities') %>", 'activities', 'How do I filter by activities?', help('activity', '\"www.example.com/quiz/1\"', 'activity\'s url identifier'))
      .col-md-6: +panel("<%= trans('reporting.headings.types') %>", 'activityTypes', 'How do I filter by activity types?', help('activity type', '\"www.example.com/activity-type/course\"', 'activity type\'s url identifier'))
    +tab-pane('context')
      .row
        .col-md-6: +panel("<%= trans('reporting.headings.parents') %>", 'parents', 'How do I filter by parent activities?', help('parent activity', '\"www.example.com/quiz/1\"', 'parent activity\'s url identifier'))
        .col-md-6: +panel("<%= trans('reporting.headings.groups') %>", 'groups', 'How do I filter by grouping activities?', help('grouping activity', '\"www.example.com/course/1\"', 'grouping activity\'s url identifier'))
      .row
        .col-md-4: +panel("<%= trans('reporting.headings.platforms') %>", 'platforms', 'How do I filter by platforms?', help('platform', '\"Curatr\"', 'platform\'s name'))
        .col-md-4: +panel("<%= trans('reporting.headings.instructors') %>", 'instructors', 'How do I filter by instructors?', help('instructor', '\"Bob\"', 'instructor\'s name'))
        .col-md-4: +panel("<%= trans('reporting.headings.languages') %>", 'languages', 'How do I filter by languages?', help('language', '\"en-GB\"', 'language\'s name'))
    +tab-pane('result')
      .col-md-6: +panel("<%= trans('reporting.headings.scales') %>", 'Scaled', 'How do I filter by scales?', '<p>You can set a min (left-most box) and/or a max (right-most box) for each of the scales. You can filter by maximum (max), minimum (min), the actual mark (raw), and the percentage of the raw mark in relation to the max mark (scaled). Change the min and max by entering a number into the boxes, you can remove these filters by clicking the (red) “Clear” button next to the score.</p>')
        +scaled('scaled')
        +scaled('raw')
        +scaled('min')
        +scaled('max')
      .col-md-6: +panel("<%= trans('reporting.headings.completion') %>", 'success-complete', 'How do I filter by success/completion?', '<p>Success may determine whether a learner was successful in passing a test. Setting this filter to true will return all the statements that show a successful pass and false will do the opposite. You can remove this filter by clicking the (red) “Clear” button next to success.</p><p>Complete may determine whether a learner completed a test. Setting this filter to true will return all the statements that show a completed test and false will do the opposite. You can remove this filter by clicking the (red) “Clear” button next to success.</p>')
        +bool('success')
        +bool('completion')
    +tab-pane('dates')
      +panel("<%= trans('reporting.headings.dates') %>", 'dates', 'How do I filter by dates?', 'Select a since and/or until date which will determine the date (2015-01-01) range you’re interested in. Statements that were not made during your date range will not be returned (unless it meets certain conditions regarding statement refs).')
        p!= "<%= trans('reporting.dates.intro') %>"
        .row
          .col-md-6
            label(for='since')!= "<%= trans('reporting.dates.since') %>"
            input#since.form-control(type='date', value!='<%= since %>' data-toggle="tooltip" data-placement="bottom" title="Enter the date to filter since")
          .col-md-6
            label(for='until')!= "<%= trans('reporting.dates.until') %>"
            input#until.form-control(type='date', value!='<%= until %>' data-toggle="tooltip" data-placement="bottom" title="Enter the date to filter until")
